Source: ros-humble-kuka-external-control-sdk-examples
Section: misc
Priority: optional
Maintainer: Gergely Kovacs <kovacsge.work@gmail.com>
Build-Depends: debhelper (>= 9.0.0), cmake, ros-humble-kuka-external-control-sdk, ros-humble-ros-workspace
Homepage: 
Standards-Version: 3.9.2

Package: ros-humble-kuka-external-control-sdk-examples
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-humble-ament-cmake, ros-humble-kuka-external-control-sdk, ros-humble-ros-workspace
Description: Examples for using KUKA external control SDK
